<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @location.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @location.lon %>
</p>

<p>
  <strong>Opening hours:</strong>
  <% if @location.open? %>
    <span class="label label-success">OPEN</span>
  <% else %>
    <span class="label label-danger">CLOSED</span>    
  <% end %>
  <%= opening_hours_for(@location) %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
